<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CourtView to enter locations</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/court.css'%}">
    {% include 'header.html' %}
</head>
<body>
<h2>hit left click for in right click for miss</h2>

<img src="{% static 'img/court.png' %}" id="img" oncontextmenu="" style="width:50%;height:25%;">
<div id="display">
    <span id="buckets">Display buckets list</span>
</div>
<i class="far fa-circle" id="circle"></i>
<i class="fas fa-times"></i>
<script type="text/javascript">
    var buckets = [];
    var misses = [];

      $("#img").click(function (ev) {
      var x = ev.pageX;
      var y = ev.pageY;
      var loc =
        {
            "X": x,
            "Y": y
        }
<!--      buckets.push(loc);-->
<!--      document.getElementById('buckets').innerHTML = loc.X;-->
      buckets.push(loc);
      document.getElementById('buckets').innerHTML = buckets[0].X;

      console.log(buckets);
      console.log("ITS IN");
        $("body").append(
            $('<i class="far fa-circle" id="circle"></i>').css({
              position: 'absolute',
              top: ev.pageY + 'px',
              left: ev.pageX + 'px',
              width: '10px',
              height: '10px',
            })
          );
        });

$("#img").contextmenu(function (ev) {
      ev.preventDefault();
      var x = ev.x;
      var y = ev.y;

      var loc =
        {
            "X": x,
            "Y": y
        }
      misses.push(loc);
      console.log(misses);
      console.log("ITS OUT");
        $("body").append(
            $('<i class="fas fa-times"></i>').css({
              position: 'absolute',
              top: ev.pageY + 'px',
              left: ev.pageX + 'px',
              width: '10px',
              height: '10px',
            })
          );
        });



</script>
</body>
</html>