<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CourtView to enter locations</title>
</head>
<body>
{% load static %}
<h2>hit left click for in right click for miss</h2>

<img src="{% static 'img/court.png' %}" id="img" height="300px" width="500px" oncontextmenu="">

<script type="text/javascript">
    var buckets = [];
    var misses = [];

    img.addEventListener('click', e=> {
      var x = e.x;
      var y = e.y;
      var loc =
        {
            "X": x,
            "Y": y
        }
      buckets.push(loc);
      console.log(buckets);
      console.log("ITS IN");
    })

    img.addEventListener('contextmenu', e=> {
      e.preventDefault();
      var x = e.x;
      var y = e.y;
      var loc =
        {
            "X": x,
            "Y": y
        }
      misses.push(loc);
      console.log(misses);
      console.log("ITS OUT");
    })

</script>
</body>
</html>