<header>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin page</title>
    <!-- stylesheets link-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css'%}">
</head>


        <a href="{% url 'home' %}" >
        <span style="font-size: 5em; color: Tomato;">
            <i class="fas fa-basketball-ball"></i>
        </span>
        </a>
        <nav>
            <ul class="nav_links">
                <li><a href="{% url 'team_list' %}">Teams</a></li>
                <li><a href="{% url 'player_list' %}">Players</a></li>
<!--                <li><a href="">Set Stats</a></li>-->
                <li><a href="">Show team Stats</a></li>
            </ul>
        </nav>
    </header>