<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players list!!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css'%}">
</head>
<body>

<h1>Table to display players</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of birth</th>
                <th>Position</th>
                <th>Dominant Hand</th>
                <th>Nationality</th>
                <th>Team's ID</th>

                <th><a href="{% url 'player_insert'  %}" class="btn text-secondary px-0"><button>Add player</button>
                    <i class="fas fa-user-plus"></i>
                </a></th>
            </tr>
        </thead>
        <tbody>
            {% for player in player_list %}
                <tr>
                    <td>{{player.firstname}}</td>
                    <td>{{player.lastname}}</td>
                    <td>{{player.dob}}</td>
                    <td>{{player.position}}</td>
                    <td>{{player.dominant_hand}}</td>
                    <td>{{player.nationality}}</td>
                    <td>{{player.teamID_id}}</td>

                    <td><a href="{% url 'player_update' player.id %}" class="btn text-secondary px-0">
                        <button>Edit</button>
                        <i class="fas fa-edit"></i>
                    </a></td>
                    <td><a href="{% url 'player_delete' player.id %}" class="btn text-secondary px-0">
                        <button>Delete</button>
                        <i class="fas fa-trash-alt"></i>
                    </a></td>
<!--                    <td><a href="{% url 'choose_game' %}" class="btn text-secondary px-0">-->
<!--                        <button>Set Score</button>-->
<!--                        <i class="fas fa-edit"></i>-->
<!--                    </a></td>-->
                    <td><a href="{% url 'player_stats' player.id %}" class="btn text-secondary px-0">
                        <button>Player Stats</button>
                        <i class="fas fa-address-card"></i>
                    </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>