<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams list display</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css'%}">
</head>
<body>
    {% include 'header.html' %}

    <h1>Table to display teams</h1>
    <table class="content-table">
        <thead>
            <tr>
                <td>Team Name</td>
                <td><a href="{% url 'team_insert'  %}" class="btn text-secondary px-0"><button>Add team</button></a></td>
            </tr>
        </thead>
        <tbody>
            {% for team in team_list %}
                <tr>
                    <td>{{team.team_name}}</td>
                    <td><a href="{% url 'team_update' team.id %}" class="btn text-secondary px-0">
                        <button>Edit</button>
                        <i class="fas fa-edit"></i>
                    </a></td>
                    <td><a href="{% url 'team_delete' team.id %}" class="btn text-secondary px-0">
                        <button>Delete</button>
                        <i class="fas fa-edit"></i>
                    </a></td>
                    <td>
                        <a href="{% url 'team_stats' team.id %}" class="btn text-secondary px-0">
                        <button>Team stats</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>